.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #181818;
        font-size: 53px;
        margin: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'Impact';
            color: #181818;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '<h1/>';
            font-family: 'Impact';
            color: #181818;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    img {
        position: relative;
        flex-direction: wrap;
        border-radius: 55px;
        box-shadow: 5px 5px 5px black;
    }

    h2 {
        color: #404040;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
        letter-spacing: 1.5px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color:#ffffff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #404040;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 15px;

        &:hover {
            background: #404040;
            color: #6495ed;
            border-color: #ffffff;
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 578px) {

    .home-page {

        .text-zone {
            position: absolute;
            left: 22%;
            top: 50%;
            transform: translateY(-50%);
            width: 40%;
            max-height: 90%;
        }
    
        h1 {
            color: #181818;
            font-size: 53px;
            margin: 0;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 400;
    
            &::before {
                content: '<h1>';
                font-family: 'Impact';
                color: #181818;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: 15px;
                opacity: 0.6;
            }
    
            &::after {
                content: '<h1/>';
                font-family: 'Impact';
                color: #181818;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }
    
        img {
            position: relative;
            flex-direction: wrap;
            border-radius: 55px;
            box-shadow: 5px 5px 5px black;
        }
    
        h2 {
            color: #404040;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 400;
            letter-spacing: 1.5px;
            animation: fadeIn 1s 1.8s backwards;
        }
    
        .flat-button {
            color:#ffffff;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #404040;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
            border-radius: 15px;
    
            &:hover {
                background: #404040;
                color: #6495ed;
                border-color: #ffffff;
                border-radius: 15px;
            }
        }
    }
}